:root {
    --fondo-rojo: red;
    --fondo-verde: green;
    --fondo-gris: gray;
    height: 100vh;
  }
  * {
    box-sizing: border-box;
  }
  body {
    background: url("./img/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
  }